<!DOCTYPE html>
<html>
<head>
    <title>Analytics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='analyticsstyle.css') }}">
</head>
<body>

<h1>Analytics</h1>

<div class="dashboard">

    <!-- LEFT SIDE -->
    <div class="left">
        <div class="card">
            <h3>Total Users: {{ users }}</h3>
            <h3>Total Orders: {{ orders }}</h3>
        </div>

        <div class="card">
            <h3>Most Popular Item:</h3>
            <p>
                {% if popular %}
                    {{ popular[0] }} ({{ popular[1] }} orders)
                {% else %}
                    No data available
                {% endif %}
            </p>
        </div>
    </div>

    <!-- RIGHT SIDE -->
    <div class="right">
        <canvas id="myChart"></canvas>
    </div>

</div>

<!-- DATA -->
<div id="data"
     data-value="{{ popular[1] }}">
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var dataDiv = document.getElementById("data");
    var value = parseInt(dataDiv.getAttribute("data-value"));

    var ctx = document.getElementById('myChart').getContext('2d');

    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['{{ popular[0] }}'],
            datasets: [{
                data: [value],
                backgroundColor: ['#06b6d4'],
                borderWidth: 0
            }]
        },
        options: {
            cutout: '70%',
            plugins: {
                legend: {
                    labels: {
                        color: "#ffffff"
                    }
                }
            }
        },
        plugins: [{
            id: 'glowEffect',
            beforeDraw: (chart) => {
                const {ctx} = chart;
                ctx.save();
                ctx.shadowColor = '#06b6d4';
                ctx.shadowBlur = 35;
                ctx.shadowOffsetX = 0;
                ctx.shadowOffsetY = 0;
            }
        }]
    });
</script>

</body>
</html>