<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="../static/loginstyle.css">
</head>

<body class="login-page">

<div class="container">

    <form method="POST" class="card">

        <h2>Welcome Back</h2>

        <input type="email" name="email" placeholder="Enter Email" required>
        <input type="password" name="password" placeholder="Enter Password" required>

        <button type="submit">Login</button>

        <!-- ONE LINE TEXT -->
        <p class="switch-text">
    New here? <a href="/register">Register</a>
</p>

    </form>

</div>

</body>
</html>