<!DOCTYPE html>
<html>
<head>
        <title>Smart Bytes</title>

    <link rel="stylesheet" href="/static/orderstyle.css">
        <link rel="icon" type="image/png" href=".//static/images/logo.png">

</head>
<body>

<div class="header">
    <a href="/dashboard" class="back-btn">⬅ Back</a>
    <h2 class="title">Your Orders</h2>
</div>

<div class="orders-container">
{% for order in orders %}
    <div class="order-card">

        <p><span>Order ID:</span> {{ order[0] }}</p>

        {% set items = order[1].split(',') %}
        {% set qtys = order[2].split(',') %}

        <p><span>Items:</span></p>

        <!-- SINGLE ITEM -->
        {% if items|length == 1 %}
            <p class="single-item">
                {{ items[0] }} (x{{ qtys[0] }})
            </p>

        <!-- MULTIPLE ITEMS -->
        {% else %}
            <div class="items-list">
                {% for i in range(items|length) %}
                    <div class="item-row">
                        {{ items[i] }} (x{{ qtys[i] }})
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <p class="total">Total: ₹{{ order[3] }}</p>

    </div>
{% endfor %}
</div>

</body>
</html>