<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Restaurants</title>

<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/restrauntstyle.css">
    <link rel="icon" type="image/png" href=".//static/images/logo.png">

</head>

<body>
    <a href="javascript:history.back()" class="back-btn">← Back</a>

<h2>Restaurants</h2>

<div class="container">
    {% for r in restaurants %}
    <a href="/menu/{{ r[0] }}" class="card-link">
        <div class="card">

            <!-- 🔥 Dynamic Image -->
            <img src="{{ url_for('static', filename='uploads/restaurants/' ~ r[0] ~ '.jpg') }}"
                alt="{{ r[1] }}">

            <h3>{{ r[1] }}</h3>
            <p>{{ r[2] }}</p>

        </div>
    </a>
    {% endfor %}
</div>

</body>
</html>